<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<h1>Välkommen</h1>
<h4>Kategorier</h4>
<ul>
    <li><a href="/products/Frukt">Frukt</a></li>
    <li><a href="/products/Mejeri">Mejeri</a></li>
    <li><a href="/products/Bröd">Bröd</a></li>
    <li><a href="/products/Dryck">Dryck</a></li>
    <li><a href="/products/Annat">Annat</a></li>
</ul>
<br/>
<h4>Sök produkt</h4>
<form action="/search" method="post">
    <input type="text" name="product">
    <input type="submit" value="Search">
</form>
<br/>
<a href="/shoppingcart">Min varukorg</a>
</body>
</html>